<div class="dashboard">
  <div>
    <h1>Dashboard</h1>
  </div>

  <div class="mesdevs">
    <h3>Ma team</h3>
  </div>

  <div class="container">
    
    <% current_user.devs.each do |dev| %>
      <%= link_to dev_path(dev) do %>
      <div class="zoom">
        <h4><%= dev.name %></h4>
        <%= cl_image_tag dev.avatar.key %>
      </div>
      <% end %>
      <ul>
        <% dev.bookings.each do |booking| %>
          <%= booking.date_on %>: <%= booking.user.email %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="mesresa">
    <h3>Mes reservations</h3>
  </div>
  <div class="container">
      <% current_user.bookings.each do |booking| %>
          <div class="zoom">
        <%= booking.date_on %>: <%= booking.dev.name %>
        <%= cl_image_tag booking.dev.avatar.key %>
      </div>
    <% end %>
   </div>
</div>
