
<div class="title">
  <h1 >Pas les plus compétents mais les plus connus</h1>
  </div>
  <br>
  <div class="container">
  <ul class="cards">
    <% (@devs).each do |dev| %>
      <li>
        <%= link_to dev_path(dev) do %>
          <div class="card-trip", >
            <%= cl_image_tag dev.avatar.key, width: 150, height: 150, crop: :fill %>
            <div class="card-trip-infos">
              <h2><%= dev.name %></h2>
              <h2><i class="fa fa-address-card"></i> <%= dev.profile %></h2>
              <h2><i class="fa fa-sitemap"></i> <%= dev.language %></h2>
              <h2><i class="fa fa-star"></i> <%= dev.rating %>/5</h2>
              <h2 class="card-trip-pricing"><%= dev.price_per_day%>€ /jour</h2>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
