<h1>Show Dev</h1>

<div class="card-trip">
   <%#= cl_image_tag @dev.avatar.key, width: 150, height: 150, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @dev.name %></h2>
        <p><%= @dev.profile %></p>
        <p><%= @dev.language %></p>
        <p><%= @dev.age%> <%= @dev.city%></p>
        <p><%= @dev.rating %></p>
    </div>
      <h2 class="card-trip-pricing"><%= @dev.price_per_day%>€</h2>
  </div>
  <div>
    <% if current_user == @dev.user_id %>
     <%= link_to "Remove", dev_path(@dev), class:"btn btn-link text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
<%= link_to "Return to all devs", devs_path %>

