
  <div class="container">
    <div class="autre">
      <h1 >Laissez-vous accompagner dans vos projets.</h1>
      <p>Avec Tindev, des millions de Dev' à portée de clic qui n’attendent plus que de rencontrer quelqu’un comme vous.</p>
    </div>

    <div class= "search-block">
      <div class= "search-tab">
        <%= form_with url: devs_path, method: :get do |form| %>
          <%= form.text_field :query, placeholder: "Spécialité ?", class: "border border-light p-1" %>
          <%= form.text_field :city, placeholder: "Quelle ville ?", class: "border border-light p-1" %>
          <%= form.submit "Recherche", class: "btn" %>
        <% end %>
      </div>
    </div>
    <br><br>
    <div class="disco">
   <%= link_to ">> Découvrir tous les devs ", devs_path %>
    </div>
  </div>
  </div>
